body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-color: #00795f;
    width: 100%;
    padding: 40px 0;
    color: white;
    text-align: center;
}

nav ul{
    background-color: #43a286;
    overflow: hidden;
    color: white;
    padding: 0;
    text-align: center;
    margin: 0;
    transition: max-height 0.4s;
}

a{
    text-decoration: none;
    color: inherit;
}

nav ul li{
    display: inline-block;
    padding: 20px;
}

nav ul li:hover{
    background-color: white;
    color: #43a286;
}

section{
    line-height: 1.5em;
    font-size: 0.9em;
    padding: 40px;
    width: 75%;
    margin: 0 auto;
}

.handle{
    background-color: #00795f;
	color: white;
	text-align: left;
	padding: 20px;
	font-weight: bold;
	cursor: pointer;
}
.handle img{
	float: right;
}

@media (max-width: 410px) {
    nav ul{
    	max-height: 0px;
    }
    .showing{
    	max-height: 20em;
    }
    nav ul li{
        width: 100%;
    }

}
    
@media (min-width: 411px) {
	    .handle{
    		display: none;
    	}
    }
}
}
