body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #ece8e5;
}

header hr{
    margin: 0 auto;
    height: 3px;
    background-color: #d3d3d3;
    width: 100%;
    border: none;
}

nav {
    padding: 0px;
    margin: 0px;
    width: 100%;
    background: #455868;
    font-size: 11pt;
    font-family: 'PT Sans', Arial, sans-serif;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 50px;
    align-self: right;
    margin-bottom: -1px;
}

nav li {
    display: inline;
    float: left;
    text-align: center;
    border-right: 1px solid #576979;
    width: 100px;
}

nav a:hover{
    background-color: #d3d3d3;
    color: #455868;
}

nav a {
    color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    border: none;
}

#tittle{
    width: 200px;
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
}

#tittle a:hover{
    color: #fff;
    background-color: #455868;
    border: none;
}

.right_nav{
    float: right;
    margin-right: 20px;
    border-right: none;
}
