body{
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.banner{
	width: 100%;
	height: 600px;
}

.news{
	margin-top: 10px;
}

.news h2{
	color: #000080;
	font-size: 40px;
    line-height: 52px;
}

.news h4{
	color: #000080;
	font-weight: bold;
}

.news img{
	width: 242px;
	height: 200px;
}

nav{
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #455868;
	font-size: 11pt;
}

nav ul{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 50px;
}

nav li{
	display: inline;
	float: left;
	text-align: center;
	width: 100px;
	border-right: 1px solid #576979;

}

nav a{
	color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
}

nav li a:hover{
	color: #455868;
	background-color: #fff;
	border: none;
	text-decoration: none;
}

#tittle{
	width: 200px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

#tittle a:hover{
	color: #fff;
	background-color: #455868;
	border: none;
}

#tittle a:active{
	color: #fff;
	background-color: #455868;
	border: none;
}

#tittle a:visited{
	color: #fff;
	background-color: #455868;
	border: none;
}

header hr{
	margin-top: -1px;
	margin-bottom: 0px;
	height: 4px;
	color: #fff;
	border: none;
}

.tittle{
	margin-top: 20px;
}

footer{
	font-family: "Varela Round",sans-serif;
	margin-top: 20px;
	height: auto;
	width: auto;
	overflow: auto;
	color: #fff;
	background-color: #455868;
}

footer img{
	height: 100px;
	width: 100px;
	margin-left: 30px;
	margin-top: 10px;
}

.end{
	margin: 35px 0px;
}

.end-img{
	margin-top: 30px;
}

.menu{
	background-color: #394753;
	text-align: center;
	padding: 10px;
	width: 100%;
	color: #fff;
}

@media max-width: 616px {
}

