body{
	width: 100%;
	padding: 0;
	margin: 0;
}

/*a:link{
  text-decoration: none!important;
}*/

nav{
	width: 100%;
	padding: 0px;
	margin: 0px;
	background-color: #455868;
	font-size: 11pt;
}

nav ul{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 50px;
}

nav li{
	display: inline;
	float: left;
	text-align: center;
	width: 100px;
	border-right: 1px solid #576979;

}

nav a{
	color: #fff;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
}

nav li a:hover{
	color: #455868;
	background-color: #fff;
	border: none;
	text-decoration: none;
}

#tittle{
	width: 200px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

#tittle a:hover{
	color: #fff;
	background-color: #455868;
	border: none;
}