body{
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #fff;
}

nav{
	width: 100%;
	height: 50px;
	padding: 0;
	margin: 0;
	background-color: #878C8F;
}

nav ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	margin-left: 20px;

}

nav ul li{
	display: inline;
	float: left;
	width: 150px;
}

nav ul li a{
	width: 100%;
	display: block;
	color: #fff;
	line-height: 50px;
	text-align: center;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	font-weight: bold;
}

nav ul li a:hover{
	color: #878C8F;
	background-color: #fff;
}

li ul {
	display: none;
}

/*Make dropdown links vertical*/
li ul li {
	display: block;
	float: none;
}

ul li a:hover + .hidden, .hidden:hover {
	display: block;
}

li:hover ul a:hover {
	background: #fff;
	color: #878C8F;
}

/*Hide dropdown links until they are needed*/
li ul {
	display: none;
}

/*Style for dropdown links*/
li:hover ul a {
	background: #878C8F;
	color: #fff;
	height: 40px;
	line-height: 40px;
}